header{
	background: url("../img/grupal.jpg"); 
	height: 500px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.logo{
	margin-left:50px; 
	margin-right:50px;
	width: 100%;
	height: 100%
}
.boton{
	border:solid 1px #ff9900;
	border-radius: 5px;
	color: black;
	display: inline-block;
	background: #ff9900;
	padding: 1%;
}
li{
	float: left;
	display: block;
	margin-right: 3%;
}
.menu{
	list-style-type: none;	
	margin:0; 
	padding: 5%;
}
.espacio{
	margin-top: 5%
}
footer{
	background: #505050;
	color: white;
	text-align: center;
}
.subrayar{
	font-weight: bold;
	text-decoration: underline;
}
.grupal{
	width: 100%;
	height: 100%;
	margin: auto;
}
.lista{
	font-size: 80%
}